<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2>Kontaktný formulár</h2>
            <form id="contactForm">
                <div class="mb-3">
                    <label for="subject" class="form-label">Predmet správy</label>
                    <input type="text" class="form-control" id="subject" name="subject" required>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="category" class="form-label">Kategória incidentu</label>
                        <select class="form-select" id="category" name="category" required>
                            <option value="">--Vyberte kategóriu--</option>
                            <option value="technicky">Technický problém</option>
                            <option value="billing">Fakturácia</option>
                            <option value="general">Všeobecný dotaz</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="email" class="form-label">Emailová adresa</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                        <div id="emailError" class="invalid-feedback">
                            Zadajte platnú emailovú adresu.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="message" class="form-label">Telo správy</label>
                    <textarea class="form-control" id="message" name="message" rows="10" required></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Odoslať</button>
            </form>
        </div>
    </div>
</div>

<!-- 

<p>Pocitadlo test2</p>

<p aria-live="polite">Current count: <strong>{{ currentCount }}</strong></p>

<button class="btn btn-primary" (click)="incrementCounter()">Increment</button>

 -->