<h1>Postup a popis integrácie na ÚPVS a ostatné moduly prevádzkované NASES</h1>
<h2>PFP portál - Partner framework portál</h2>
<p>Integračná dokumentácia prevádzkovaných modulov je k dipozícií na <a href="https://kp.gov.sk/pf/zdielane_dokumenty/Forms/AllItems.aspx?RootFolder=%2fpf%2fzdielane%5fdokumenty%2fIntegr%c3%a1cia%20na%20UPVS&amp;FolderCTID=0x012000709FE608C28BD646A5733B864F1E7974">portály PFP</a>.</p>
<h3>Registrácia používateľa PFP portálu</h3>
<p>Pre zriadenie prístupu na PFP portál je potrebné odoslať email na integracie@nases.gov.sk</p>
<pre><code>Adresát: integracie@nases.gov.sk
Predmet: ÚPVS – FIX – PFP – Žiadosť – Registrácia do PFP

Dobrý deň,
prosím o vytvorenie prístupu do Partner Framework Portálu.

Meno:       
Priezvisko:  
Email:      

Ďakujem.
</code></pre>