<div id="sidebar" class="d-flex flex-column vh-100 bg-light">
  <nav class="navbar navbar-light bg-light flex-column p-3">
    <a class="navbar-brand" [routerLink]="['/']">SVK.sk</a>
    <ul class="navbar-nav flex-column">
      <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link text-dark" [routerLink]="['/']">Integrácie</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link text-dark" [routerLink]="['/contact_form']">Kontaktný formulár</a>
      </li>
      <!-- <li class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link text-dark" [routerLink]="['/fetch-data']">Fetch data</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link text-dark" [routerLink]="['/todo']">Todo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="/api" target="_blank">API</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="/Identity/Account/Manage">Account</a>
      </li> -->
    </ul>
  </nav>
</div>
